h3 {
    font-family: 'Roboto', sans-serif;
    color: #3472AD;
}

p {
    font-family: 'Rubik', sans-serif;
}

.navBar {
    background-color: white !important;
    border-bottom: 2px solid lightgray;
}

.navBar-light .navbar-nav .nav-link {
    color: #3472AD !important;
}

.listaNav {
    list-style: none;
    justify-content: space-around;
}



.listaNav li {
    width: 10vw;
    justify-content: space-around;
}

.listaNav li a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
}


.listaNav li a:hover {
    color: gray;
}

.mainBanner {
    background-image: url("../imgs/galeria/mainBanner1.jpg");
    background-position: center;
    background-size: cover;
    height: 40vh;
}

/* .seccionFrutaHome{


}
 */
.imagenHome {
    width: 25vw;


}

/* .frutaCongeladaDiv{
 
} */


.imagenProductosDestacados {
    height: 50vh;

}

.imagenProductosDestacados:hover {
    cursor: pointer;
    opacity: 0.6;

}

.imagenProductosDestacados h4 {
    color: white;
    font-size: 2rem;
    margin-top: 20%;
}

.imagenArandanos {
    background-image: url("../imgs/galeria/arandanos1.jpg");
    background-position: center;
    background-size: cover;
}

.imagenFrambuesa {
    background-image: url("../imgs/galeria/frambuesa1.jpg");
    background-position: center;
    background-size: cover;
}

.imagenFrutilla {
    background-image: url("../imgs/galeria/frutilla1.jpg");
    background-position: center;
    background-size: cover;
}

.imagenAnana {
    background-image: url("../imgs/galeria/Anana1.webp");
    background-position: center;
    background-size: cover;
}

.procedimientoImg {
    width: 25vw;
    height: 35vh;
}

.procedimientoImg img {
    width: 100%;
    height: 100%;
}

.banner2 {
    margin-top: 30vh;
    margin-bottom: 20vh;
    height: 30vh;
    background-image: url(../imgs/galeria/bottomBanner.jpg);
    background-attachment: fixed;
    background-size: cover;
    ;
}

.contactoBanner {
    height: 30vh;
}

.btn-dark {
    font-size: 1.5rem;
    width: 12vw;
    height: 8vh;
    background-color: #DCB8D5 !important;
    border-color: #DCB8D5 !important;
}

.footer {
    margin-top: 15vh;
    height: 35vh;
    color: white;
    border-top: 2px solid darkgray;
    background-color: #3472AD;
}

.logoFooter {
    width: 20vw;
}

/* .footerNav{
   
} */

.footerNav li {
    list-style: none;
    width: 8vw;
    justify-content: space-between;

}

.footerNav li a {
    color: white;
    text-decoration: none;
}

.iconFooter {
    width: 4vw;
}

@media (max-width: 768px) {

    .listaNav {
        display: none;
    }
}